// > Custom Tabs
// ----------------------------------------------------------------

.tabs-content {
	color: #373737;

	> div {
		display: none;
		padding: 20px;
		border: $theme-border;
	}

	#product-description-content,
	#questions-content {
		margin-top: -1px;
	}
}

input {
	display: none;
}

label {
	display: inline-block;
	padding: 15px 25px;
	text-align: center;

	&:hover {
		cursor: pointer;
	}
}

input + label {
	border-top: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #dedede;
	margin-right: 15px;
}

input:checked + label {
	border-bottom: 1px solid #fff;
	background-color: white;
}

#product-description:checked ~ .tabs-content #product-description-content,
#questions:checked ~ .tabs-content #questions-content {
	display: block;
}
