// > Custom Form
// ----------------------------------------------------------------

.product-form {

  .ch-price {
    font-size: $font__xx__large;
  }

  .ch-form-row > label {
    text-align: left;
    width: 60px;
  }
}
