// > Custom Tabs
// ----------------------------------------------------------------

@import 'custom-tabs-variables';

.questions-section {

	input[type='radio'] {
		display: none;

		 + label {
			border-top: $custom-theme-border $custom-border-color;
			border-right: $custom-theme-border $custom-border-color;
			border-left: $custom-theme-border $custom-border-color;
			margin-right: $custom-tab-margin;
		}

		&:checked + label {
			background-color: $main-neutral-color;
			border-bottom: $custom-theme-border $main-neutral-color;
		}
	}

	label {
		display: inline-block;
		padding: $custom-tab-padding;

		&:hover {
			cursor: pointer;
		}
	}

	.tabs-content {

		.product-description-content,
		.questions-content {
			border: $custom-theme-border $custom-border-color;
			display: none;
			padding: $custom-tab-padding;
		}

		.product-description-content,
		.questions-content {
			margin-top: -1px;
		}
	}

	#product-description:checked ~
	.tabs-content .product-description-content,
	#questions:checked ~
	.tabs-content .questions-content {
		display: block;
	}
}
