// // > Custom styles
// // ----------------------------------------------------------------

$custom-theme-border: 1px solid !default;
$custom-border-color: $gray-400 !default;
$custom-theme-padding: 15px !default;
$custom-theme-margin: 15px !default;

.specs-product-container {
  border: $custom-theme-border $custom-border-color;
  overflow: hidden;
  margin: auto;
  padding: $custom-theme-padding * 2;
  width: 800px;

  .main-title {
    margin: 0;
    padding-bottom: $custom-theme-padding;
  }

  .description-section {
    overflow: hidden;

    .product-image {
      float: left;
      width: 40%;
    }

    .product-info {
      float: right;
      padding-top: $custom-theme-padding;
      width: 50%;
    }
  }

  hr {
    margin: $custom-theme-margin 0;
  }

  .message {
    padding: $custom-theme-padding 0;
  }
}
