// // > Custom styles UI
// // ----------------------------------------------------------------

$custom-theme-border: 1px solid !default;
$custom-border-color: $gray-400 !default;
$custom-theme-padding: 15px !default;
$custom-theme-margin: 15px !default;
