// > Custom Form
// ----------------------------------------------------------------

form.product-form {

  fieldset.price-container {
    padding-bottom: 5px;

    .ch-price {
      font-size: 24px;
    }
  }

  .ch-form-row > .label {
    text-align: left;
    width: 60px;
  }

  fieldset.buy-product-container {
    padding: 5px 0;
  }
}
