// > Custom styles
// ----------------------------------------------------------------

$theme-border: 1px solid $gray-400 !default;
// $tooltip-padding: 8px 10px !default;

.specs-product-container {
  max-width: 800px;
  min-width: 800px;
  border: $theme-border;
  padding: 30px;
  margin: auto;
  overflow: hidden;

  .main-title {
    margin: 0;
    padding-bottom: 15px;
  }

  .description-section {
    overflow: hidden;

    .product-image {
      width: 40%;
      float: left;
      margin-right: 60px;
    }

    .product-info {
      width: 52%;
      float: left;
      padding-top: 15px;
    }
  }

  hr {
    margin: 30px 0;
  }

  .message {
    padding: 5px 0;
  }
}
